





<div class="onboard-main flex j-center a-center">

  <div class="onboard-floater flex ">
    <div class="floater-info">
  
    </div>
  
    <div class="floater-main">
      <div class="floater-main-inner flex j-center a-center">


        <div class="signin-main flex column" *ngIf="activeForm === 'sign-in'">
          <form class="form-group" [formGroup]='oboardForm'>
          <div class="signin-text flex j-center">Sign In</div>
          <div class="m-top-15">
            <input class="inputs" formControlName="email" type="text" placeholder="Mobile Number or Email">
          </div>
          <div class="input-error" *ngIf="oboardForm.get('email').errors
                    && oboardForm.get('email').touched">
            {{oboardForm.get('email').value && oboardForm.get('email').value.length ? 'Invalid Email': 'Email Required'}}
          </div>
          <div class="m-top-15 flex a-center show-hide-parent-div">
            <input class="inputs" formControlName="password" [type]="signinShow ? 'text' : 'password'" placeholder="Password">
            <div class="show-hide pointer" (click)="signinShow = !signinShow" [ngClass]="{'icon-password': !signinShow, 'icon-unlock': signinShow}"></div>
          </div>
          <div class="input-error" *ngIf="oboardForm.get('password').errors
                    && oboardForm.get('password').touched">
            Password Required
          </div>
          <div class="flex s-between m-top-15 rem-division">
            <div class="onboard-text">Remember me</div>
            <div class="onboard-link pointer" (click)="generateForm('forget')">Forget Password?</div>
          </div>
          <div class="flex j-center m-top-15">
            <button class="pointer onboard-button" (click)="onboard('sign-in')">Sign In</button>
          </div>
          <div class="flex j-center new-user-division m-top-15">
            <div class="onboard-text">
              New Here?
            </div>
            <div class="onboard-link m-left-5 pointer" (click)="generateForm('sign-up')">
              Sign Up
            </div>
          </div>
        </form>
        </div>








        <div class="signin-main flex column" *ngIf="activeForm === 'sign-up'">
          <form class="form-group" [formGroup]='oboardForm'>
          <div class="signin-text flex j-center">Sign Up</div>
          <div class="m-top-15">
            <input class="inputs" formControlName="email" type="text" placeholder="Mobile Number or Email">
          </div>
          <div class="input-error" *ngIf="oboardForm.get('email').errors
                    && oboardForm.get('email').touched">
            {{oboardForm.get('email').value && oboardForm.get('email').value.length ? 'Invalid Email': 'Email Required'}}
          </div>

          <div class="m-top-15">
            <input class="inputs" formControlName="userName" type="text" placeholder="User Name">
          </div>
          <div class="input-error" *ngIf="oboardForm.get('userName').errors
                    && oboardForm.get('userName').touched">
            {{oboardForm.get('userName').value && oboardForm.get('userName').value.length ? 'Invalid User Name eg:muja_1,_muja,1muja..etc': 'User Name Required'}}
          </div>

          <div class="m-top-15 flex a-center show-hide-parent-div">
            <input class="inputs" formControlName="password" [type]="signupShow1 ? 'text' : 'password'" placeholder="New Password">
            <div class="show-hide pointer" (click)="signupShow1 = !signupShow1; submitTrigger= false;" [ngClass]="{'icon-password': !signupShow1, 'icon-unlock': signupShow1}"></div>
          </div>
          <div class="input-error" *ngIf="oboardForm.get('password').errors
                    && oboardForm.get('password').touched">
            New Password Required
          </div>

          <div class="m-top-15 flex a-center show-hide-parent-div">
            <input class="inputs" formControlName="cpassword" [type]="signupShow2 ? 'text' : 'password'" placeholder="Confirm Password">
            <div class="show-hide pointer" (click)="signupShow2 = !signupShow2; submitTrigger = false;" [ngClass]="{'icon-password': !signupShow2, 'icon-unlock': signupShow2}"></div>
          </div>
          <div class="input-error" *ngIf="oboardForm.get('cpassword').errors
                              && oboardForm.get('cpassword').touched">
            {{oboardForm.get('userName').value 
                                  && oboardForm.get('userName').value.length 
                                  && oboardForm.get('cpassword').value !== oboardForm.get('password').value
                                   ? 'Confirm Password Doesnt match New Password': 'Confirm Password Required'}}
          </div>

          <div class="input-error" *ngIf="!(oboardForm.get('cpassword').errors
                    && oboardForm.get('cpassword').touched) && oboardForm.get('cpassword').value !== oboardForm.get('password').value && 
                    submitTrigger">
            Confirm Password Doesnt match New Password
          </div>

          <div class="flex j-center m-top-15">
            <button class="pointer onboard-button" [ngClass]="{'onboard-button-onload': signupLoader}" (click)="onboard('sign-up')">
              Sign Up
              <app-loader class="loader" type="type3" *ngIf="signupLoader"></app-loader>
            </button>

          </div>
          <div class="flex j-center new-user-division m-top-15">
            <div class="onboard-text">
              Already have account?
            </div>
            <div class="onboard-link m-left-5 pointer" (click)="generateForm('sign-in')">
              Sign In
            </div>
          </div>
        </form>
        </div>










        <div class="signin-main otp-main flex column" *ngIf="activeForm === 'forget'">
          <form class="form-group" [formGroup]='oboardForm'>

          <div class="flex j-center m-h96">
            <img class="m-left-20" src="https://storage.cloud.google.com/login-objects/login/email-icon.png">
          </div>

          <div class="signin-text flex j-center m-top-15">Enter OTP</div>

          <div class="onboard-text m-top-15 flex column">
            <div class="onboard-text flex j-center">please type the verification code sent via</div>
            <div class="onboard-link flex j-center">mujatom@gmail.com</div>
          </div>

          <div class="m-top-15 flex j-center">
            <input #otp1 id="otp1" formControlName="otp1" type="text" class="otp-input" maxlength="1" (input)="checkOTP(otp1)" (keydown)="otpNumberCheck(1, otp1, $event)">
            <input #otp2 id="otp2" formControlName="otp2" type="text" class="otp-input" maxlength="1" (input)="checkOTP(otp2)" (keydown)="otpNumberCheck(2, otp2, $event)">
            <input #otp3 id="otp3" formControlName="otp3" type="text" class="otp-input" maxlength="1" (input)="checkOTP(otp3)" (keydown)="otpNumberCheck(3, otp3, $event)">
            <input #otp4 id="otp4" formControlName="otp4" type="text" class="otp-input" maxlength="1" (input)="checkOTP(otp4)" (keydown)="otpNumberCheck(4, otp4, $event)">
          </div>

          <div class="flex j-center m-top-45">
            <div class="round-forward-button icon-right-arrow pointer" (click)="onboard('otpsubmit')"></div>
          </div>

          <div class="flex j-center new-user-division m-top-15">
            <div class="onboard-text">
              Didn't Recieve the OTP?
            </div>
            <div class="onboard-link m-left-5 pointer">
              Resend Code
            </div>
          </div>


        </form>
        </div>

        <div class="signin-main flex column" *ngIf="activeForm === 'setpassword'">
          <form class="form-group" [formGroup]='oboardForm'>
            <div class="signin-text flex j-center">Set Password</div>
            <div class="m-top-15 pointer-none">
              <input class="inputs" formControlName="email" type="text" placeholder="Mobile Number or Email" readonly>
            </div>
        
        
            <div class="m-top-15 flex a-center show-hide-parent-div">
              <input class="inputs" formControlName="password" [type]="signupShow1 ? 'text' : 'password'"
                placeholder="New Password">
              <div class="show-hide pointer" (click)="signupShow1 = !signupShow1"
                [ngClass]="{'icon-password': !signupShow1, 'icon-unlock': signupShow1}"></div>
            </div>
            <div class="input-error" *ngIf="oboardForm.get('password').errors
                              && oboardForm.get('password').touched">
              New Password Required
            </div>
        
            <div class="m-top-15 flex a-center show-hide-parent-div">
              <input class="inputs" formControlName="cpassword" [type]="signinShow2 ? 'text' : 'password'"
                placeholder="Confirm Password">
              <div class="show-hide pointer" (click)="signupShow2 = !signupShow2"
                [ngClass]="{'icon-password': !signupShow2, 'icon-unlock': signupShow2}"></div>
            </div>
            <div class="input-error" *ngIf="oboardForm.get('cpassword').errors
                              && oboardForm.get('cpassword').touched">
              Confirm Password Required
            </div>
        
            <div class="flex j-center m-top-15">
              <button class="pointer onboard-button" (click)="onboard('setpassword')">Submit</button>
            </div>
            <div class="flex j-center new-user-division m-top-15">
              <div class="onboard-text">
                Remember Old Password?
              </div>
              <div class="onboard-link m-left-5 pointer" (click)="generateForm('sign-in')">
                Sign In
              </div>
            </div>
          </form>
        </div>



      </div>
    </div>




  </div>
  




</div>
