.main {
    background: #ffffff;
    padding: 5%;
}
.shadowCard {
    background: white;
    box-shadow: 0 2px 15px 0 #abaBAB33!important;
    border-radius: 5px;
    width: 100%;
}

.leftcard {
    height: 475px;
}

.fb45 {
    flex-basis: 45%;
}


