<div class="mainNav flex column">

  <!-- profile -->
  <div class="profile flex column a-center">
    <div>
      <img class="displayPic" [src]="displayPic">
    </div>
    <div class="name">
      {{userName}}
      <i class="fa fa-caret-down nameAction pointer"></i>
    </div>
    <div class="email">
      {{email}}
    </div>
  </div>

  <!-- menus -->
  <div class="menus">
    <div *ngFor="let menuItem of sideNavMenus" (click)="navigate(menuItem.route)"
      class="eachMenu flex a-center pointer {{menuItem.icon}}"
      [ngClass]="{'selectedMenu': menuItem.route === currentRoute}">
      {{menuItem.label}}
    </div>
  </div>

</div>