.card {
    width: 100%;
    height: 245px;
    margin-bottom: 10%;
}
.imageDiv {
    position: relative;
    height: 175px;
    width: 100%;
}
.image {
    width: 100%;
    height: 175px;
}
.duration {
    position: absolute;
    bottom: 6px;
    right: 10px;
    background: black;
    color: white;
    width: max-content;
    padding: 2px 4px;
    font-size: 14px;
}
.videoTitle {
    height: 36px;
    overflow-y: hidden;
    color: black;
    font-weight: 600;
    font-size: 16px;
    padding: 0 5px;
}
.finalDivision {
    padding: 0 5px;
    font-size: 14px; 
}
.finalEach {
    flex-basis: 50%;
    color: gray;
}