
.marRight {
    margin-right: 10px;
}
.chipsPartition {
    width: 100%;
}
.chipMain {
    width: 23%;
    padding: 0 1%;
}
.homeMain {
    margin: 10px 20px;
}
.chipDivision {
    margin: 15px 0;
}
