/* roboto google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
   /* primary */
   --one : #5B7CFD;
   --two : #33CC86;
   --three : #FF7F57;
   --four : #FFAE33;
   --five : #FFCF27;
   --six : #FBE691;
   /* light */
   --seven : #DEE5FF;
   --eight: #CDF5F4;
   --nine : #FFE5DD;
   --ten : #D8E0FE;
   /* neutral */
   --eleven: #232D42;
   --twelve: #8A92A6;
   --thirteen: #737b8b;
   --fourteen: #E7EEF7;
   --fifteen: #E3E5E8;
   --sixteen: #929292;
   /* custom colors */
   --white: white;
   --selectedMenu : #576fcf;
   --menuGrey: #d3d3d3;
   --tableHeader: #f2f3f3;
   --red: #ff0707;
   --redShade: #f5cdcd;
   --blueShade: #ced3f5;
   --pink: #df1eeb;
   --orangeFade: #f3c57fbf;
}

body {
    font-family: 'Roboto';
}


.flex {
    display: flex;
}
.row {
    flex-direction: row;
}
.column {
    flex-direction: column;
}
.j-center {
    justify-content: center;
}
.j-f-end {
    justify-content: flex-end;
}
.s-between {
    justify-content: space-between;
}
.s-around {
    justify-content: space-around;
}
.a-center {
    align-items: center;
}
.j-between {
    justify-content: space-between;
}
.wrap {
    flex-wrap: wrap;
}
.pointer {
    cursor: pointer;
}
.w100 {
    width: 100%;
}
.moduleHeader {
    font-size: 36px;
    font-weight: bold;
    color: var(--eleven);
}

.hexagonShape {
    margin-top: 0;
    width: 20px;
    height: 10px;
    background-color: var(--one);
    border-color: var(--one);
    position: relative;
    display: inline-block;
}
.hexagonShape:before {
    content: " ";
    width: 0;
    height: 0;
    border-bottom: 10px solid;
    border-color: inherit;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    top: -10px;
}
.hexagonShape:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -10px;
    border-top: 10px solid;
    border-color: inherit;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.circle {
    position: absolute;
    left: 5px;
    height: 10px;
    width: 10px;
    background-color: var(--white);
    border-radius: 50%;
    display: inline-block;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: var(--tableHeader); 
}
::-webkit-scrollbar-thumb {
    background: var(--sixteen); 
    border-radius:5px;
    min-height: 25px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--eleven);
    cursor: pointer;
}