.chip {
    min-width: 120px;
    width: max-content;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    background: #93d0fd;
}